

 {% extends 'base.html' %}

{% block title %}Page1{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/page1.css') }}">
{% endblock %}
{% block content %}
<div class="container" id="contentContainer">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-danger">
                {% for category, message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form id="myForm" action="{{ url_for('app_form.page1') }}" method="POST">
        <div class="form-group">
            <label for="applicationNo">Application No:</label>
            <input type="text" id="applicationNo" name="applicationNo" class="form-control" value="{{ form_data['application_number'] }}" required
            pattern="[A-Za-z0-9]+" title="Only letters and numbers are allowed for the application number.">
        </div>

        <div class="form-group">
            <label for="candidateName">Candidate's Name:</label>
            <input type="text" id="candidateName" name="candidateName" class="form-control" value="{{ form_data['candidate_name'] }}" required
             pattern="[A-Za-z\s]+" title="Only letters are allowed for the candidate's name.">
            
        </div>

        <h4>Checklist of Documents</h4>
        <div class="form-group">
            <label>
                <input type="checkbox" name="documents" value="Photos" {% if 'Photos' in form_data['documents'] %}checked{% endif %}> 3 Passport and 3 Stamp size photos
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Aadhar Card" {% if 'Aadhar Card' in form_data['documents'] %}checked{% endif %}> Copy of Aadhar card
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Marks Cards" {% if 'Marks Cards' in form_data['documents'] %}checked{% endif %}> 10th/SSLC and 10+2/PUC marks cards
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Diploma/Graduation" {% if 'Diploma/Graduation' in form_data['documents'] %}checked{% endif %}> Diploma/Graduation marks cards and Certificate
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Entrance Test Score" {% if 'Entrance Test Score' in form_data['documents'] %}checked{% endif %}> Entrance test score card, if any
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Work Experience" {% if 'Work Experience' in form_data['documents'] %}checked{% endif %}> Work Experience Letter, if any
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Other" {% if 'Other' in form_data['documents'] %}checked{% endif %}> Any other Certificates, Specify:
            </label><br>
            <input type="text" class="form-control mb-2" name="other_documents" value="{{ form_data['other_documents'] }}"> <br>
            <label>
                <input type="checkbox" name="documents" value="Transfer Certificate" {% if 'Transfer Certificate' in form_data['documents'] %}checked{% endif %}> Transfer certificate
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Migration Certificate" {% if 'Migration Certificate' in form_data['documents'] %}checked{% endif %}> Migration Certificate
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Conduct/Study Certificate" {% if 'Conduct/Study Certificate' in form_data['documents'] %}checked{% endif %}> Conduct/Study Certificate
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Caste Certificate" {% if 'Caste Certificate' in form_data['documents'] %}checked{% endif %}> Caste Certificate (if Applicable)
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Income Certificate" {% if 'Income Certificate' in form_data['documents'] %}checked{% endif %}> Income Certificate (if Applicable)
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Passport/Visa Copy" {% if 'Passport/Visa Copy' in form_data['documents'] %}checked{% endif %}> Passport/Visa Copy (if Applicable)
            </label><br>
            <label>
                <input type="checkbox" name="documents" value="Rank/Score Card" {% if 'Rank/Score Card' in form_data['documents'] %}checked{% endif %}> Rank/Score Card (if Applicable)
            </label><br>
        </div>

        <p class="info-message">All the above documents must be scanned and sent via email to <strong>documents@ndcmail.in</strong>.</p>
        <div class="form-group">
            <button type="submit" name="save" onclick="showConfirmationPopup(event)">Save and Proceed</button>
        </div>
    </form>
</div>

<div id="confirmationPopup" style="display:none; position:fixed; top: 50%; transform: translate(50%,-50%); background:white; padding:20px; border:10px solid #ccc;">
    <p>Once clicked on save, you won't be able to modify the details. Are you sure?</p>
    <button onclick="closePopup()">Back</button>
    <button onclick="saveAndProceed()">Save</button>
</div>

<div id="overlay" class="overlay" style="display:none;"></div>

<script>
function showConfirmationPopup(event){
    event.preventDefault();
    document.getElementById("confirmationPopup").style.display="block";
    document.getElementById("overlay").style.display="block";
    document.getElementById('contentContainer').classList.add('blur');
}

function closePopup(){
    document.getElementById("confirmationPopup").style.display="none";
    document.getElementById("overlay").style.display="none";
    document.getElementById('contentContainer').classList.remove('blur');
}

function saveAndProceed(){
    document.getElementById("confirmationPopup").style.display = "none";
    document.getElementById("overlay").style.display = "none";
    document.getElementById('contentContainer').classList.remove('blur');
    document.getElementById("myForm").submit();
}
</script>

{% endblock %}